.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 2rem;
}


@media (max-width: 768px) {
  .cardList {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {

}