.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    justify-content: space-around;
    color: black;
    /* background-image: url( "/movie-778057_1920.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

.page {
    padding: 0 10rem;
}

@media (max-width: 1024px) {
    .page {
        padding: 0 3rem;
    }
}

.error {
  color: #dc3545;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
}