.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    justify-content: space-around;
    color: black;
    /* background-image: url( "/movie-778057_1920.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}
