.headerContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: space-between;
    /* font-size: 2rem; */
}

.headerContainer h1 {
    align-content: center;
    /* margin-top: 1.0rem; */
    margin-bottom: 0;
    font-size: 1.8rem;
    /* margin-top: 1.6rem; */
}

.headerContainer button {
    background-color: transparent;
    cursor: pointer;
    height: 3.5rem;
    width: 3.5rem;
}

.container {
    /* text-align: center; */
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border-radius: 8px;

}

.container div {
    /* font-size: 1.2rem;
    color: #000000; */
    padding-left: 0.8rem;
}

.detailsInfo {
    font-size: 1.2rem;
}
                

.error {
    color: #dc3545;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .headerContainer h1 {
        font-size: 1.6rem;
        /* padding-left: 0.3rem; */
    }

    .headerContainer button {
        background-color: transparent;
        cursor: pointer;
        height: 2.4rem;
        width: 2.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .detailsInfo {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .headerContainer h1 {
        font-size: 1.4rem;
        padding-left: 0;
        /* margin-top: 1.6rem; */
    }

    .detailsInfo {
        font-size: 0.8rem;
        /* color: red; */
    }
}