.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.moviesList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 2rem;
}

.error {
  color: #dc3545;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  /* .headerContainer h1 {
    font-size: 2rem;
    padding-left: 0.3rem;
  } */

  .moviesList {
    grid-template-columns: 1fr;
  }

  /* .actorInfo div {
    font-size: 1rem;
  } */

  /* .headerContainer button {
    background-color: transparent;
    cursor: pointer;
    height: 2.4rem;
    width: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .movieCard {
    padding: 1rem;
  }
}