:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* html { 
  background:  url("/movie-778057_1920.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin: 0;
  padding: 0;
}